.main{
  width: 60%;
  text-align: center;
  
}
  mat-card{
    width: 60%;
    margin: auto;
    text-align: center;
    background: red;
    color: #fff;
    font-size: 50px;
    border-color: #fff;
    border-radius: 2px;
    border: 2px solid;
  }
  
  .title{
    margin: auto;
    background-color: #352e42;
    color: white;
  }
