<div class="main">
  <button mat-button color="secondary" class="btn btn-primary">
    <a routerLink="/welcome" class="btn btn-primary">Home</a>
  </button>
  <button mat-button color="secondary" class="btn btn-primary">
    <a routerLink="/create-quiz" class="btn btn-primary">Create quiz</a>
  </button>
 
</div>
<div class="main-2">
    <mat-card color="primary">
      <mat-card-title class="title"> Welcome to the quiz app</mat-card-title>
    </mat-card>
  <router-outlet></router-outlet>
</div>