.table-table-bordered-2{
    float:left;
    margin: 2px;
    padding: 22px;
}
th{
    position:absolute;
    font-size: 23px;
    margin: -9px;
}
.name-instructions-validation{
    color: red;
    font-size: small;
    margin: 78px;

}

.question-validation{
    color: red;
    font-size: small;
    margin: 72px;

}